$cardPadding: 40px;
.ag-reveal__name {
    padding: $cardPadding $cardPadding 10px $cardPadding;
    text-transform: capitalize;
    font-size: 1.1em;
}
.ag-reveal__control {
    padding: 10px $cardPadding $cardPadding $cardPadding;
    min-height: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}
