.ag-colour-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 32px);
    position: absolute;
    width: 100%;
    left: 0;
    background-color: white;
    padding-bottom: 5px;
}
