.ag-small-square {
    width: 28px;
    height: 24px;
    padding-top: 4px;
    margin-left: 5px;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

$red: #ff6961;
$green: lightgreen;
$orange: #ffb347;
$blue: #4477b2;
$lightblue: #81dafc;
$brown: #7a5230;
$pink: #ffd1dc;
$purple: #b19cd9;
$darkpurple: #966fd6;

.ag-colour-block__red {
    background-color: $red;
    border: 2px solid darken($red, 25%);
}
.ag-colour-block__green {
    background-color: $green;
    border: 2px solid darken($green, 25%);
}
.ag-colour-block__orange {
    background-color: $orange;
    border: 2px solid darken($orange, 25%);
}
.ag-colour-block__blue {
    background-color: $blue;
    border: 2px solid darken($blue, 25%);
    color: white;
}
.ag-colour-block__lightblue {
    background-color: $lightblue;
    border: 2px solid darken($lightblue, 25%);
}
.ag-colour-block__brown {
    background-color: $brown;
    border: 2px solid darken($brown, 25%);
    color: white;
}
.ag-colour-block__pink {
    background-color: $pink;
    border: 2px solid darken($pink, 25%);
}
.ag-colour-block__purple {
    background-color:$purple;
    border: 2px solid darken($purple, 25%);
}
.ag-colour-block__darkpurple {
    background-color: $darkpurple;
    border: 2px solid darken($darkpurple, 25%);
}
