@import 'variables';
.ag-footer {
    border-top: 5px solid $controlColour;
}

.ag-footer__content {
    margin: 5px auto;
    justify-content: flex-end;
    color: #666;
}

.ag-footer__link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.ng-about-modal {
    position: absolute;
    left: 5%;
    top: 15%;
    width: 80%;
    padding: 5%;
    border: 1px solid $controlColour;
    background-color: white;
}
