@import 'variables';

.ag-label {
    padding: 7px 0;
    margin-right: 7px;
}

.ag-input {
    width: 100%;
    height: 32px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 1em;
    font-family: 'Oxygen', Arial, sans-serif;

    &:hover, &:focus {
        border: 1px solid $controlColour;
    }
}

.ag-checkbox {
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid #999;
    margin-right: 10px;
    box-shadow: #aaa 1px 1px;
    border-radius: 2px;
    .disabled & {
      background-color: #bbb;
      opacity: 0.5;
      cursor: default;
    }
    &:hover {
      border: 2px solid $controlColour;
      background-color: #f1f1f1;
    }
  }
  
.ag-checkbox__container {
    display: flex;
    align-items: center;
}
.ag-checkbox__input {
    visibility: hidden;
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
    &:checked+.ag-checkbox {
        background-color: $controlColour;
        border: 2px solid $controlColour;
        color: white;
        .disabled & {
            background-color: #6a6a6a;
            border-color: #6a6a6a;
        }
        &:after {
            box-sizing: border-box;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: 33%;
            top: .77777px;
            display: table;
            width: 6.66667px;
            height: 13.33333px;
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            content: "";
        }
    }
}
.ag-input-list {
    width: 100%;
    margin: 0;
}
.ag-input-list__item {
    margin: 10px 0;
}
.ag-input-list__content {
    display: flex;
}

.ag-button {
    width: 100%;
    min-height: 32px;
    border-radius: 5px;
    border: 1px solid darkblue;
    background-color: $controlColour;
    color: white;
    font-size: 1em;
    font-family: 'Oxygen', Arial, sans-serif;

    &:hover {
        box-shadow: #aaa 1px 1px;
        cursor: pointer;
        border-color: darken(darkblue, 50%);
    }
}
.ag-button__secondary {
    background-color: white;
    color: $controlColour;
    border-color: $controlColour;

    &:hover {
        border-color: darkblue;
        color: darkblue;
    }
    &.ag-button__disabled:hover {
        color: $controlColour;
        border-color: $controlColour;
    }
}
.ag-button__inline {
    margin-left: 14px;
}
.ag-button__disabled {
    opacity: 0.5;

    &:hover {
        cursor: default;
        box-shadow: none;
    }
}

.ag__clickable {
    cursor: pointer;
}
