body {
    margin-top: 0;
    background-color: aliceblue;
}
.artist-generator {
    position: relative;
    max-width: 350px;
    height: 100%;
    margin: auto;
    font-family: 'Oxygen', Arial, sans-serif;
    border-top: 10px solid $controlColour;
    background-color: white;
}

.ag-content {
    width: 100%;
}
.ag-row {
    display: flex;
    width: 90.5%;
    margin: 15px auto;
}
